:root {
  --color-primary: 120, 135, 170;          /* Muted dusty blue */
  --color-primary-content: 245, 243, 240;  /* Soft parchment white */

  /* Secondary and content colors, warm but gentle */
  --color-secondary: 153, 45, 39;      /* Muted deep red, like aged cartographic ink */
  --color-secondary-content: 80, 30, 27; /* Dark burgundy for readable text */


  /* Backgrounds toned down, soft warm neutrals */
  --color-base-background: 245, 243, 240;  /* Very light parchment */
  --color-base-muted: 224, 214, 195;       /* Warm beige, subtle paper texture */
  --color-base-soft: 189, 175, 148;        /* Dusty khaki */
  --color-base-lighter: 145, 130, 108;     /* Light brown/grayish */

  /* Text and border, dark but warm */
  --color-base-content: 60, 50, 38;        /* Dark sepia */
  --color-base-border: 200, 185, 150;      /* Soft tan for borders */

  /* Old cartography inspired map colors */
  --color-map-georeference: 139, 69, 19;      /* SaddleBrown */
  --color-map-aggregate: 205, 133, 63;         /* Peru */
  --color-map-asserted: 184, 134, 11;          /* DarkGoldenRod */
  --color-map-type-material: 112, 128, 144;    /* SlateGray */
  --color-map-collection-object: 128, 0, 0;    /* Maroon */

  /* Scrollbar subtle */
  --color-scrollbar-thumb: 189, 175, 148;
  --color-scrollbar-track: 244, 238, 221;

  --color-map-shape-opacity: 0.5;
  --color-map-marker-opacity: 0.75;
}


.dark {
  --color-primary: 23, 23, 23;
  --color-primary-content: 255, 255, 255;
  
  --color-secondary: 14, 165, 233;
  --color-secondary-content: 255, 255, 255;

  --color-base-background: 23, 23, 23;
  --color-base-foreground: 38,38,38;
  --color-base-muted: 48, 48, 48;
  --color-base-soft: 200, 200, 200;
  --color-base-lighter: 220, 220, 220;
  --color-base-border: 38, 38, 38;
  --color-base-content: 255, 255, 255;

  --color-scrollbar-thumb: 156, 163, 175;
  --color-scrollbar-track: 55, 65, 81;
}
